.eb-New-title {
  margin-bottom: 2rem;
}

.eb-New-currency {
  display: flex;
}

.eb-New-currency, .eb-New-rate {
  margin-bottom: 1rem;
}

.eb-New-amount {
  border: 0;
  padding: 2px 8px;
  margin: 0;
  width: 100%;
  border: 1px solid #84959a;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  z-index: 0;
  border-left: none;
  font-size: 16px;
  color: #556468;
}

.eb-New-amount:focus {
  outline: none;
  border: 1px solid #00bef0;
  box-shadow: 0 0 0 1px #00bef0;
  z-index: 100;
}

.eb-New-buttons {
  margin: 4rem auto 0;
  text-align: center;
  display: flex;
  flex-direction: column;
  width: 50%;
  justify-content: space-between;
  height: 100px;
}

.eb-New-rate {
  border: 1px solid #84959a;
  background-color: #f4f5f6;
  border-radius: 5px;
  padding: 2px 8px;
  color: #48d1db;
  font-family: "Roboto Condensed", sans-serif;
  min-height: 38px;
  line-height: 32px;
}
